<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="ui-utils.js"></script>
</head>
<body ng-app="example-app">
    <div ng-controller="MainController">

        <label>Example 1: input number</label><br>
        <input type="number" ng-model="val">
        <div ng-bind="val | largeNum"></div>
        <br><br>

        <label>Example 2: input bytes</label><br>
        <input type="number" ng-model="val2"> <label>(try 1024, 65536)</label>
        <div ng-bind="val2 | largeNum : options2"></div>

    </div>

    <script>
        angular.module('example-app', ['ui-utils'])
            .controller('MainController', [
                '$scope',
                function ($scope) {
                    $scope.options2 = {
                        step: 1024,
                        digits: 1,
                        units: ['B', 'KB', 'MB', 'GB']
                    };
            }])

    </script>
</body>
</html>